@model MuaBanPC_LapTop.Models.DonHang

@{
    ViewData["Title"] = "Chi tiết";
    var format = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
}

<h3>Chi tiết Sản phẩm</h3>

<div class="site-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                @*<h2 class="text-black"> @Model.TenSP</h2>*@
                <img src="@Model.ProfilePicture" width="500" height="500" />
            </div>

            <div class="col-sm-6">

                <h3> @Model.TenSP</h3>
                <p>
                    <strong class="text-danger h4">
                        @String.Format(format, "{0:c0}", Model.GiaTien)
                    </strong>
                </p>
                <p><b>Cấu Hình:</b> @Model.CauHinh</p>
                <p class="mb-4"><b>Số lượng:</b> @Model.SoLuong</p>

                <button type="submit" class="btn btn-success"> <i class="fas fa-shopping-cart"></i>
                </button>

                <a class="btn btn-primary" asp-action="trangchu1"> <i class="bi bi-skip-backward-fill ml-4"></i></a>

            </div>


        </div>
    </div>
</div>
@*<div>
    
    <a class="btn btn-secondary float-right" asp-action="trangchu1">Quay lại</a>
</div>*@
